.sponsor{
    padding: 10px;
    background-color: rgb(58, 136, 58);
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

#inicio .sponsor .logo{
    padding: 15px;
    height: 80%;
    width: 80%;
    display: flex;
    /* flex-wrap: nowrap; */  
    align-items: center;
    justify-content: center;
}
